/* Scrollbar width */
.innerScrollBar::-webkit-scrollbar {
    width: 12px; /* Adjust width as needed */
}

/* Track */
.innerScrollBar::-webkit-scrollbar-track {
    background-color: #FFFFFF; /* White background */
}

/* Thumb */
.innerScrollBar::-webkit-scrollbar-thumb {
    background-color: #4CAF50; /* Green color for the thumb */
    border-radius: 6px; /* Rounded corners */
}

/* Thumb on hover */
.innerScrollBar::-webkit-scrollbar-thumb:hover {
    background-color: #2196F3; /* Blue color for the thumb on hover */
}
